<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".FileViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Vudit">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.OPENABLE" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.QUICK_VIEW" />
                <action android:name="android.intent.action.RUN" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- PDF -->
                <data android:mimeType="application/pdf" />
                <!-- Zip -->
                <data android:mimeType="application/zip" />
                <!-- SQLite -->
                <data android:mimeType="application/x-sqlite3" />
                <!-- Audio -->
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <!-- Images -->
                <data android:mimeType="image/*" />
                <!-- Videos -->
                <data android:mimeType="video/*" />
                <!-- Text -->
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.OPENABLE" />

                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.QUICK_VIEW" />
                <action android:name="android.intent.action.RUN" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <!-- PDF -->
                <data android:pathPattern=".*\\.pdf" />
                <!-- SQLite -->
                <data android:pathPattern=".*\\.sqlite" />
                <!-- Zip -->
                <data android:pathPattern=".*\\.zip" />
                <!-- Audio -->
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\.oog" />
                <data android:pathPattern=".*\\.wav" />
                <data android:pathPattern=".*\\.mid" />
                <data android:pathPattern=".*\\.m4a" />
                <data android:pathPattern=".*\\.amr" />
                <!-- Images -->
                <data android:pathPattern=".*\\.png" />
                <data android:pathPattern=".*\\.jpg" />
                <data android:pathPattern=".*\\.gif" />
                <data android:pathPattern=".*\\.bmp" />
                <data android:pathPattern=".*\\.jpeg" />
                <data android:pathPattern=".*\\.webp" />
                <data android:pathPattern=".*\\.svg" />
                <!-- Videos -->
                <data android:pathPattern=".*\\.mp4" />
                <data android:pathPattern=".*\\.3gp" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.webm" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.3g2" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.vob" />
                <!-- Documents -->
                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ott" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.otp" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.ots" />
                <data android:pathPattern=".*\\.fodt" />
                <data android:pathPattern=".*\\.fods" />
                <data android:pathPattern=".*\\.fodp" />
                <data android:pathPattern=".*\\.epub" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewBaseActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="WebView"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VideoPlayer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="VideoPlayer"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ImageViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="ImageViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".TextViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="TextViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DOCViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="DOCViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".HTMLViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="HTMLViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SQLiteViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="SQLiteViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EPUBViewer"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="EPUBViewer"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>